@use "../utils/variables" as *;

.heart-icon {
    position: relative;
    width: 24px;
    height: 24px;
  
    &__empty, &__filled {
      font-size: 22px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    &__filled {
      color: transparent;
      background: linear-gradient(193deg, $primary-color -11.44%, $secondary-color 123.93%);
      -webkit-background-clip: text;
      background-clip: text;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s; 
    }
  
    &:hover &__filled {
      opacity: 1;
    }
  }
  