@use "../utils/variables" as *;

.menu-section {
    margin-bottom: 40px;

    &__header-title {
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        border-bottom: 2px solid $tertiary-color;
        width: 39px;
    }

    &__card {
        border-radius: 15px;
        background: white;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
        padding: 15px;
        max-width: 634px;
        margin-top: 12px;
        position: relative;
        cursor: pointer;
        overflow: hidden;

        // Elargis l'élément de confirmation et le déplace vers la gauche au survol
        &:hover .menu-section__confirmation {
            width: 25px;
            height: 22px;
            background-color: $tertiary-color;
            transform: translateX(-100%);
        }

        // Déplacer le prix vers la gauche au survol
        &:hover .menu-section__price span {
            margin-right: 48px;
            padding-left: 48px;
        }
    }

    &__details {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    &__content {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

    }

    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 500;
        margin: 0;
    }

    &__description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 15px;
        font-weight: 300;
        margin: 0;
    }

    &__price {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 15px;

        span {
            color: #353535;
            text-align: center;
            font-size: 15.043px;
            font-weight: 700;
        }
    }

    //Création de l'animation 
    &__confirmation {
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 100%;
        background-color: transparent;
        border-radius: 0 15.0431px 15.0431px 0;
        transition: transform 250ms, background-color 250ms;
        transform: translateX(0%);
        padding: 24px 19px;

        &-logo {
            font-size: 20px;
            color: white;
            position: absolute;
        }
    }
}



@media (min-width: 768px) {


    .menu-container {
        display: grid;
        justify-content: center;

        .menu-section {
            &__card {
                width: 634px;
            }
        }
    }
}


@media (min-width: 1025px) {

    .menu-wrapper {

        width: 80%;
        margin-left: 119px;
    }

}