@use "../utils/variables" as *;

.section-fonctionnement {

    &__container {
        padding: 0px 20px 0px 20px;
    }

    &__title {

        margin: 48px 0px 26px 0px;

    }

    &__steps {

        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__step {

        display: flex;
        align-items: center;
    }

    &__step-number {

        position: relative;
    }

    &__ellipse {
        position: absolute;
        left: -12px;
        bottom: -13px;
        font-size: 24px;
        color: $primary-color;
    }

    &__number {
        position: absolute;
        bottom: -11.2px;
        right: -3.983px;
        color: white;

    }

    &__step-content {

        display: flex;
        align-items: center;
        border-radius: 20px;
        background: #f6f6f6;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        padding: 10px 19px 10px 19px;
        gap: 23px;
        flex: 1;
        max-width: 323px;
    }

    &__icon {

        color: #7E7E7E;
        padding-left: 7px;
    }

    .color {
        color: $primary-color;
    }

    &__description {

        font-weight: 500;
    }
}

@media (min-width: 1245px) {
    .section-fonctionnement {
        &__steps {
            flex-direction: row;
            gap: 80px;
        }

        &__container{
            padding-left: 80px;
        }
        
        &__step-content{
            width: 300px;
        }


    }
}

@media (min-width: 767.98px) and (max-width :1245px) {
    .section-fonctionnement {
        &__container{
            display: grid;
            justify-content: center;
        }

        &__step-content{
        width: 323px;
        }

    }
}

