.section-reservation {
    &__container {
        padding: 1px 0px 60px 0px;
        text-align: center;
        background: #f6f6f6;
    }

    &__description {
        font-weight: 300;
        color: #353535;
    }

}

@media (min-width: 1025px) {
    .section-reservation {

        &__title {
            font-size: 40px;
        }

        &__description {
            font-size: 18px;
        }
    }
}