@use "../utils/variables" as *;

.footer {


    &__container {
        display: flex;
        padding: 22px 25px;
        flex-direction: column;
        gap: 16px;
        background: #353535;
        color: white;
    }


    &__title {
        font-family: $font-logo;
        font-size: 18px;
        font-weight: 400;
    }

    &__links {
        p {
            margin: 0;
            padding-bottom: 7px;
        }
    }

    &__link-item {

        display: flex;
        align-items: baseline;

        & .footer__icon {
            font-size: 13px;
            margin-right: 11px;
            ;
        }

        & .space {
            margin-right: 7px;
        }
    }

}